.searchBox {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  background-color: #1F2937;
}

.searchInputIcon {
  padding: 0.25rem;
  border-radius: 9999px;
  background-color: #ffffff;
}

.searchInput {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
  flex: 1 1 0;
  border-radius: 9999px;
  color: #ffffff;
  background-color: #374151;
  @media (max-width: 767px) {
  }
}