.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.locationWrapper {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.locationTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.searchInputIcon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
