.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: 45px;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
