.box {
  padding: 0.5rem;
  border-bottom-width: 1px;
}

.categoryBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryList {
  display: flex;
  align-items: center;
  cursor: pointer;
}